<nav class="navbar navbar-expand-lg bg-green">
    <div class="container-fluid px-5">
      <a class="navbar-brand text-white d-flex" href="#">
        <img src="/logo/LogoWhite.svg" alt="logo branca" class="me-3">
        <div>
          <span>Guia do mochileiro<br>Fatecano</span>
        </div>
      </a>
  
      <button class="navbar-toggler" style="color: white;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="border: none;">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse mt-sm-0 mt-2 navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          @for(botao of botoes; let i = $index; track botoes) {
            <app-navbutton [iconSrc]="botao.iconSrc" [label]="botao.label" [active]="activeIndex === i" (click)="setActive(i)"></app-navbutton>
          }
        </ul>
      </div>
    </div>
  </nav>
  